.editor{
      background-color: #1d2025;
      color: transparent;
      height: 750px;
      max-height: 90%;
      width:45%;
      margin:0vw 0vw 0vw 2vw;
/*       max-width: 761px; */
	  float:left;
      padding: 1vw 1vw 1vw 1vw;
      font-family: helvetica, sans-serif;
      font-size: 1.3em;
      line-height: 1.4;
      -webkit-box-shadow: 2px 10px 35px -16px rgba(0,0,0,0.52);
      -moz-box-shadow: 2px 10px 35px -16px rgba(0,0,0,0.52);
      box-shadow: 2px 10px 35px -16px rgba(0,0,0,0.52);

}

.editor::selection{
                  background-color:#00eaff;
                  color:#ffffff;
                  text-shadow: 1px 1px 0px #000000;

}

h2{margin:1vw 0vw 1vw 2vw;}

textarea {resize: none;}


body {
      margin: 0;
      background-color: #36393f;
      color: #efefef;
      font-family: Verdana, Arial, sans-serif;
      font-size: 16px;
    
    }
    
ul.topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #000000;
    }
    
ul.topnav li {float: left;}
    
ul.topnav li a {
      display: block;
      color: #efefef;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s
    }
    
ul.topnav li a.active {background-color: #00eaff;
    color: #ffffff;}
    
ul.topnav li a:hover:not(.active) {background-color: #1d2025;
    color: #ffffff;}
    
ul.topnav li.right {float: right;}
    
@media screen and (max-width: 600px) {
      ul.topnav li.right, 
      ul.topnav li {float: none;}
    }




    .hwt-container {
      display: inline-block;
      position: relative;
      overflow: hidden !important;
      -webkit-text-size-adjust: none !important;
    }
    
    .hwt-backdrop {
      position: absolute !important;
      top: 0 !important;
      right: -99px !important;
      bottom: 0 !important;
      left: 0 !important;
      padding-right: 99px !important;
      overflow-x: hidden !important;
      overflow-y: auto !important;
    }
    
    .hwt-input {
      display: block !important;
      position: relative !important;
      margin: 0;
      padding: 0;
      border-radius: 0;
      font: inherit;
      overflow-x: hidden !important;
      overflow-y: auto !important;
    }
    
    .hwt-content {
      color: transparent;
      border: 1px solid;
      background: none transparent !important;
    }
    
    .hwt-content mark {
      padding: 0 !important;
      color: inherit;
    }

    .hwt-highlights {
      width: auto !important;
      height: auto !important;
      border-color: transparent !important;
      white-space: pre-wrap !important;
      word-wrap: break-word !important;
      color: #efefef !important;
      overflow: hidden !important;
    }

    #bug {font-weight: bolder;
    color: #e06666;
    margin: auto;
    padding-top: 0.75vw;
    width: 40%;
  }


